<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Home Tab -->
  <ion-tab title="الرئيسية" icon-off="ion-ios7-home-outline" icon-on="ion-ios7-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <!-- Cases Tab -->
  <ion-tab title="الحالات" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tab/cases">
    <ion-nav-view name="tab-cases"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="المتبرعين" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" href="#/tab/donaters">
    <ion-nav-view name="tab-donaters"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="التثقيفي" icon-off="ion-ios7-lightbulb-outline" icon-on="ion-ios7-lightbulb" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>


</ion-tabs>
